body {
    background-image: url('wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
}


@keyframes riseAnimation {
  0% {
      top: 100%; 
  }
  50% {
      top: 35%; 
  }
  100% {
      top: 41%; 
  }
}


@keyframes riseAnimationitch {
  0% {
      top: 100%; 
  }
  50% {
      top: 35%; 
  }
  100% {
      top: 55%; 
  }
}


@keyframes riseAnimationgit {
  0% {
      top: 100%; 
  }
  50% {
      top: 35%; 
  }
  100% {
      top: 55%; 
  }
}



h1 {
  text-align: center;
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  animation: riseAnimation 2s ease-in-out; 
}

#custom-button {
  background-color: transparent; 
  border: none;
  cursor: pointer;
  position: absolute;
  top: 55%;
  left: -59%;
  animation: riseAnimationitch 2s ease-in-out;
}

#custom-button2 {
  background-color: transparent; 
  border: none;
  cursor: pointer;
  position: absolute;
  top: 55%;
  left: -33%;
  animation: riseAnimationgit 2s ease-in-out;
}


body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}



  img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 1800px;
    top: -12px;
  }
  
  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h2 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
}